<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Nosotros</h6>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Seguinos en nuestras redes:</h6>
                <p>Icono+enlace</p>
                <p>Icono+enlace</p>
                <p>Icono+enlace</p>
                <p>Icono+enlace</p>
            </div>
        </div>
    </div>
</footer>