<footer>
    <div class="footer-container row d-flex justify-content-between">

        <div class="col-6 nosotros-container row">
                <h4 class="col-12">Nosotros</h4>
                <p class="col-12">Somos una empresa comprometida con el medio ambiente.</p>
                <p class="col-12">Hacemos que tu estilo de vida sustentable sea más fácil de alcanzar.</p>
                <p class="col-12">Trabajamos para contribuir a la construcción de una economía circular.</p>
        </div>

        <div class="col-6 redes-container row d-flex justify-content-center">
                <h4 class="col-12">Seguinos en nuestras redes</h4>

                <p class="col-2 col-sm-3"><a href="www.instagram.com/SustentAR"><i class="fab fa-instagram fa-2x"></i></a></p>

                <p class="col-2 col-sm-3"><a href="www.facebook.com/SustentAR"><i class="fab fa-facebook-square fa-2x"></i></a></p>

                <p class="col-2 col-sm-3"><a href="www.twitter.com/SustentAR"><i class="fab fa-twitter fa-2x"></i></a></p>

                
        </div>

        <div class="col-12 row">
                <h4 class="col-12">Contactanos</h4>
                <p class="col-6">contacto@sustentar.com.ar</p>
                <span id="#wrapperWhatsapp" class="col-6"><a href="wha.me/11sustentAR"><i id="whatsappIcon" class=" fab fa-whatsapp-square fa-2x"><p>+54 11 5256-7455</p></i></a></span>
        </div>
    </div>
</footer>