<header class="main-header container-fluid">


    <div class="logo row">
        <div class="logoContainer col-12"> 
            <a href="/">
                <img src="../images/Logo_de_PaginaWeb.jpeg" alt="Logo sustentAR">
            </a>
        </div>
        
        <h1 class="col-12">sustentAR</h1>
        
    </div>
    
    <div class="burgerContainer row">
        <button class="btn-toggle-navbar col-2 col-sm-1">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    

    <nav class="main-navbar">

        <ul class="nav-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Comprar</a></li>
        </ul>

        <ul class="nav-right">
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Cuenta</a></li>
        </ul>

    </nav>
    

</header>