<header>
    <div class="container">
        <div class="logoContainer">
            <a href="#" class="logo"><img src="../images/Logo_de_PaginaWeb.jpeg" alt="Logo"></a>
            <h1 class="col-12">sustentAR</h1>
        </div>
        
        
        <nav>
            <button class="burger"><i class="fas fa-bars"></i></button>
            <ul class="menu-productos">
                <li><a href="#">Home</a></li>
                <li><a href="#">Comprar</a></li>
            </ul>
            <ul class="menu-usuarios">
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Cuenta</a></li>
            </ul>
        </nav>
    </div>
</header>