<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> | sustentAR</title> <!-- Aca se debe imprimir el titulo correspondiente a cada seccion | HOME - | productos - | register -->
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- sustentAR Tittle Icon -->
	<!-- ACA VA EL ICONO DE LA PAGINA (EL DE LA PESTAÑA) -->
	<!-- sustentAR Stylesheet -->
	<link rel="stylesheet" href="/css/styles.css">
    
</head>