<header class="main-header">
    
    
    <div class="logo">
        
        <a href="/">
            <img src="../img/Logo_de_PaginaWeb.jpeg" alt="">
        </a>
        
    </div>
    
    

    <button class="btn-toggle-navbar">
        <i class="fas fa-bars"></i>
    </button>

    <nav class="main-navbar">
        <ul class="nav-left">
            
            <li><a href="../">Home</a></li>
            <li><a href="">Comprar</a></li>
        </ul>
            
        <ul class="nav-right">
            <li><a href="">Carrito</a></li>
            <li><a href="">Cuenta</a></li>
        </ul>
    </nav>
</header>