<!DOCTYPE html>
<html lang="en">


<%- include('./partials/Head') %>
<body>
    
    <%- include('./partials/Header') %>
        <div class="container">
            <h1>Carrito de compras</h1>
            <!--CARRITO-->
            <div class="carrito row">
                <div class="infoPrincipalDelProducto col-12">
    
                    <img class="col-3" src="../images/Logo_de_PaginaWeb.jpeg" alt="">
    
                    <div class="row dataContainer col-8">
                        <p class="col-12">Nombre del Producto</p>
                        <p class="col-12">Precio</p>
                        
                        
                        <p class="col-6">Color</p>
                        <p class="col-6">Cantidad</p>
                        <div class="col-12 deleteButton">
                            <button type="button">Eliminar</button>
                        </div>
                        
                    </div>
    
                </div>
    
                <div class="separacion col-12">
                    <div>
                    </div>
                </div>
    
                <div class="btnDiv col-12">
                    <button type="button" class="botonContinuar"><a href="carrito/infoUsuarioCompra">Continuar</a></button>
                </div>
                
    
            </div>
        </div>

    <%- include('./partials/scripts') %>
</body>
</html>