<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="container">
        
        <h1>Carrito de compras</h1>

        <nav>
            <ul class="nav-left">
                <li>Home</li>
                <li>Comprar</li>
            </ul>
                <li>Carrito</li>
                <li>Cuenta</li>
            <ul class="nav-right">

            </ul>
        </nav>

        <div class="registrodeUsuario">
            
        </div>

        <div class="carrito">

        </div>
    
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>