<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> | sustentAR</title> <!-- Aca se debe imprimir el titulo correspondiente a cada seccion | HOME - | productos - | register -->
        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!-- Bootstrap Grid Stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- sustentAR Tittle Icon -->
        <!-- ACA VA EL ICONO DE LA PAGINA (EL DE LA PESTAÑA) -->
        <!-- sustentAR Stylesheet -->
        
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/styleSheetGuido.css">
        
</head>
<body>
    <div class="container">
        
        
        <%- include('./partials/headerNavbar') %>

        <h1>Carrito de compras</h1>

        <div class="carrito row">
            <div class="infoPrincipalDelProducto col-12">

                <img src="../img/Logo_de_PaginaWeb.jpeg" alt="">

                <div class="row dataContainer">
                    <p class="col-12">Nombre del Producto</p>
                    <p class="col-12">Precio</p>
                    
                    
                    <p class="col-5">Color</p>
                    <p class="col-5">Cantidad</p>
                    <button type="button" class="col-12 btn btn-primary">Eliminar</button>
                </div>

            </div>
            <div class="cupon">

            </div>

            <div class="total">

            </div>
        </div>


        <div class="registrodeUsuario">
            <img width="100px" src="../img/Logo_de_PaginaWeb.jpeg" alt="">
            <h2>SustentAR</h2>

            <ul>
                <li><a href="">Carrito</a></li>
                <li><a href="">Información</a></li>
                <li><a href="">Envíos</a></li>
                <li><a href="">Modo de pago</a></li>
            </ul>

            <form action="#">

                <p><label for="nombre">Nombre</label></p>
                <p><input type="text" id="nombre" name="nombre"></p>
                <p><label for="apellido">Apellido</label></p>
                <p><input type="text" id="apellido" name="apellido"></p>

                <p><label for="email">E-mail</label></p>
                <p><input type="email" id="email" name="email"></p>

                <p><label for="dni">DNI</label></p>
                <p><input type="text" id="dni" name="dni"></p>

                <p><label for="direccion">Dirección</label></p>
                <p><input type="text" id="direccion" name="direccion"></p>

                <p><label for="cp">Codigo Postal</label></p>
                <p><input type="text" id="cp" name="cp"></p>
                <p><label for="entreCalles">Entre calles</label></p>
                <p><input type="text" id="entreCalles" name="entreCalles"></p>

                <p><label for="depto">Piso de departamento</label></p>
                <p><input type="text" id="depto" name="depto"></p>
                <p><label for="telefono">Telefono</label></p>
                <p><input type="text" id="telefono" name="telefono"></p>

                <p><button>Enviar</button></p>

            </form>

        </div>

        <div class="carrito">

        </div>
    
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>