<!DOCTYPE html>
<html lang="en">

 <%- include('./partials/Head') %> 

<body>
    <div class="main-container-account">
            <%- include('./partials/Header') %> 
            <section class="container-edit container-fluid">
                <article class="container-saludo">
                    <br>
                     <h1 class="saludo">Hola, <b>Usuario</b></h1>
                     <br>
                </article>

                <br>
                <br>
     
                <article class="form-article">
                    

                    <button class="col-3 boton-editar">Editar</button>
                        
                    <form class="formulario-editar-cuenta row" action="">

                        <div class="col-6 col-sm-4 form-div row"  nombre>
                            <label id="label nombre" class="col-12 " for="nombre">Nombre</label>
                            <input class="col-10" type="text" name="nombre" placeholder="Nombre">
                           
                        </div>

                        <div class="col-6 col-sm-5 form-div row" >
                            <label id="label apellido" class="col-12" for="apellido">Apellido</label>
                            <input class="col-10" 
                            type="text" name="apellido" placeholder="Apellido"> 
                        </div>

                        <div class="col-12 col-sm-12 form-div row email">
                            <label for="email" class="col-12">Email</label>
                            <input class="col-10" type="email" name="email" placeholder="usuario@mail.com">
                        </div>


                        <div class="col-6 col-sm-5 form-div row">
                            <label class="col-12" for="dni">DNI</label>
                            <input type="text" name="dni" class="col-10"placeholder="1234547" >
                        </div>
                        
                        <div class="col-12 col-sm-12 form-div row">
                            <label class="col-12" for="direccion">Dirección</label>
                            <input class="col-10" type="text" name="direccion" placeholder="Direccion">
                        </div>
                        
                        <div class="form-div col-6 col-sm-5 row">
                            <label class="col-12" for="cp">C.P.</label>
                            <input class="col-10" type="text" name="cp" placeholder="C.P.">
                        </div>

                        <div class="col-6 col-sm-5 form-div row">
                            <label class="col-12" for="entreCalles">Entre Calles</label>
                            <input class="col-10" type="text" name="entreCalles" placeholder="Entre Calles">
                        </div>
                        
                        <div class="col-6 col-sm-5 form-div row">
                            <label class="col-12" for="depto">Departamento, piso, etc</label>
                            <input class="col-10" type="text" name="depto" placeholder="Departamento, piso, ect" >
                        </div>

                        <div class="col-6 col-sm-5 form-div row">
                            <label class="col-12" for="telefono">Telefono</label>
                            <input class="col-10" type="text" name="telefono" placeholder="110000000">
                        </div>

                        <div class="col-12 col-sm-12 form-div row">
                            <button  class="boton-guardar col-5">Guardar cambios</button>
                        </div>

                    </form>
            </article>
        </section>
        <!-- </div>
        </div> -->
    </div>
</body>
</html>