<!DOCTYPE html>
<html lang="en">

 <%- include('./partials/Head') %> 

<body>
    <div class="main-container-account">
            <%- include('./partials/Header') %> 
            <section class="container-edit container-fluid">
                <article class="container-saludo">
                    <br>
                     <h1 class="saludo">Hola, <b>Usuario</b></h1>
                     <br>
                </article>

                <br>
                <br>
     
                <article class="form-article ">
                    
                    <div class="info-usuario">
                        <h3>Bojack Horseman</h3>
                        <p>bojack@gmail.com</p>
                        <p><b>DNI</b>43448355</p>
                        <p>1475 Luck Hoof Avenue, 3~J
                        </p>
                        <p>1641, Los Angeles, California</p>
                        <p>+54911 65313156</p>

                       
                    </div>
                    
                    <button class="col-4 boton-editar" data-toggle="collapse" data-target="#content">Editar</button>
                 
                    <form class="formulario-editar-cuenta  row collapse" action="" id="content">

                        <div class="col-7 col-sm-6 form-div row"  nombre>
                            <label class="etiqueta col-12" id="label nombre"  for="nombre">Nombre</label>
                            <input class="campo col-10" type="text" name="nombre" placeholder="Nombre">
                           
                        </div>

                        <div class="col-7 col-sm-6 form-div row" >
                            <label class="etiqueta col-12" id="label apellido"  for="apellido">Apellido</label>
                            <input class="campo col-10" 
                            type="text" name="apellido" placeholder="Apellido"> 
                        </div>

                        <div class="col-12 col-sm-12 form-div row email">
                            <label class="etiqueta col-12" for="email" >Email</label>
                            <input class="campo col-10" type="email" name="email" placeholder="usuario@mail.com">
                        </div>


                        <div class="col-7 col-sm-6 form-div row">
                            <label class="etiqueta col-12" for="dni">DNI</label>
                            <input class="campo col-10" type="text" name="dni" placeholder="1234547" >
                        </div>
                        
                        <div class="col-12 col-sm-12 form-div row">
                            <label class="etiqueta col-12" for="direccion">Dirección</label>
                            <input class="campo col-10" type="text" name="direccion" placeholder="Direccion">
                        </div>
                        
                        <div class="form-div col-7 col-sm-6 row">
                            <label class="etiqueta col-12" for="cp">C.P.</label>
                            <input class="campo col-10" type="text" name="cp" placeholder="C.P.">
                        </div>

                        <div class="col-7 col-sm-6 form-div row">
                            <label class="etiqueta col-12" for="entreCalles">Entre Calles</label>
                            <input class="campo col-10" type="text" name="entreCalles" placeholder="Entre Calles">
                        </div>
                        
                        <div class="col-7 col-sm-6 form-div row">
                            <label class="etiqueta col-12" for="depto">Departamento, piso, etc</label>
                            <input class="campo col-10" type="text" name="depto" placeholder="Departamento, piso, ect" >
                        </div>

                        <div class="col-7 col-sm-6 form-div row">
                            <label class="etiqueta col-12" for="telefono">Telefono 
                            </label>
                            <input class="campo col-10" type="text" name="telefono" placeholder="110000000">
                        </div>

                        <div class="col-12 col-sm-12 form-div row">
                            <button  class="boton-guardar col-7">Guardar cambios</button>
                        </div>

                    </form>
                    
            </article>
        </section>
        <!-- </div>
        </div> -->
        <%- include('./partials/scripts') %> 
    </div>
</body>
</html>