<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/Head') %> 
</head>
<body>
    <div class="main-container-account">
       
            <section class="container-edit">

                <article class="container-saludo">
                    <br>
                     <h1 class="saludo">Hola, <b>Usuario</b></h1>
                     <br>
                </article>

                <br>
                <br>
     
                <article class="form-article">
                    

                    <button class="col-3 boton-editar">Editar</button>
                        
                    <form class="formulario-editar-cuenta row" action="">

                        <div class="col-5 col-sm-4">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="apellido" placeholder="Apellido"> 
                        </div>

                        <div class="col-5 col-sm-4">
                            <label for="apellido" >Apellido</label>
                            <input type="text" name="nombre" placeholder="Nombre">
                        </div>

                        
                        

                        <br>

                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="usuario@mail.com" class="col-4 col-sm-10">

                        <br>

                        <label for="dni">DNI</label>
                        <input type="text" name="dni" placeholder="1234547" class="col-3 col-sm-4">

                        <br>

                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" placeholder="Direccion" class="col-4 col-sm-10">

                        <br>

                        <label for="cp">C.P.</label>
                        <input type="text" name="cp" placeholder="C.P." class="col-3 col-sm-4">

                        <label for="entreCalles">Entre Calles</label>
                        <input type="text" name="entreCalles" placeholder="Entre Calles" class="col-3 col-sm-4">

                        <br>

                        <label for="depto">Departamento, piso, etc</label>
                        <input type="text" name="depto" placeholder="Departamento, piso, ect" class="col-3 col-sm-4">

                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" placeholder="110000000" class="col-3 col-sm-4">

                        <div>
                            <button class="col-3 col-sm-4 boton-guardar">Guardar cambios</button>
                        </div>

                    </form>
            </article>
        </section>
        <!-- </div>
        </div> -->
    </div>
</body>
</html>