<%- include('./partials/head') %>
<body>


    <%- include('./partials/Header') %>

    <div class="container-fluid">


        <section class="row">

            <article class="col-10">

                <div class="row">

                <div class="col-1 aside other-product-images-container">

                    <a href="/images/default-image.png"><img src="" alt=""></a>
                    <a href="/images/default-image.png"><img src="" alt=""></a>
                    <a href="/images/default-image.png"><img src="" alt=""></a>
                    <a href="/images/default-image.png"><img src="" alt=""></a>
                    <a href="/images/default-image.png"><img src="" alt=""></a>

                </div>

                <div class="col-11 product-detail-container">

                        <a href=""><img src="/images/default-image.png" alt=""></a>
                        <div>
                            <h3 class="product-price">Precio</h3>
                            <h4 class="product-discount">Desc</h4>
                            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, inventore.</p>
                            <img src="" alt="">
                        </div>

                </div>

                </div>

            </article>

        </section>


    </div>


</body>