<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/Head') %> 
</head>
<body>

    <%- include('./partials/Header') %> 
    <div class="container-fluid">
    <div class="main-container-formulario-productos container">

        <section class="formulario-productos-container row">

            <article class="col-10 categoria-container">
                
                <form action="" method="POST" class="row">    
                    <h3 class="col-12 titulo-articulo">Seleccione la categoría del producto</h3>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="decoracion">Decoración</p>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="banio">Baño</p>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="cocina">Cocina</p>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="otros">Otros</p>

                </form>

            </article>

            <article class="col-10 datos-container">
                <h3 class="titulo-articulo">
                    Ingrese los datos del producto
                </h3>

                <div class="datos-productos-container">
                    <form class="row" action="" method="POST">                  
                        
                        <div class="col-6 row "> 
                            <label class="col-12" for="">Nombre</label>
                            <input class="inputStyle col-11" type="text" id="nombreProducto" placeholder="Nombre..." name="nombreProdcuto">
                        </div>                        
                        <div class="col-10 row">
                            <label class="col-12" for="">Descripción</label>
                            <textarea class="inputStyle col-11" name="descripcionProducto" id="descripcionProducto" cols="30" rows="5" placeholder="Descripción"></textarea>
                        </div>
                        
                        <div class="col-10 row">
                            <label class="seleccion-color col-lg-5" for="">Colores disponibles</label>
                            <select class="col-lg-5 
                            inputStyle" name="colores" id="colores">
                                <option disabled="" selected="">Seleccionar...</option>
                                <option value="amarillo">Amarillo</option>
                                <option value="rojo">Rojo</option>
                                <option value="Rosa">Rosa</option>
                                <option value="azul">Azul</option>
                                <option value="verde-claro">Verde</option>
                                <option value="blanco">Blanco</option>
                                <option value="negro">Negro</option>
                                <option value="marron">Marron</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>     

                        <div class="col-12 sustentabilidad row">
                            <p class="col-5 col-lg-3"><input class="inputStyle" type="checkbox" name="sustenabilidad" value="vegano">Vegano</p>
                            <p class="col-5 col-lg-3"><input class="inputStyle"  type="checkbox" name="sustenabilidad" value="cruelty-free">Cruelty Free</p>
                            <p class="col-5 col-lg-3"><input class="inputStyle"  type="checkbox" name="sustenabilidad" value="fair-trade">Fair Trade</p>
                            <p class="col-5 col-lg-3"><input class="inputStyle"  type="checkbox" name="sustenabilidad" value="envoltorio-sustentable">Envoltorio Sustentable</p>
                        </div>

                        <div class="col-12 row">
                            <label class="col-12" for="">
                                <h4 class="titulo-imagenes">Añadir imágenes</h4>
                            </label>

                            <input class=" col-10 col-lg-3" type="file" name="img">
                            <input class=" col-10 col-lg-3" type="file" name="img">
                            <input class=" col-10 col-lg-3" type="file" name="img">

                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <button class="botonStyle col-8" type="submit"> Publicar producto</button>
                        </div>

                    </form>
                </div>
            </article>

        </section>
         
    </div>
    <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %> 
</body>
</html>