<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/Head') %> 
</head>
<body>

    <%- include('./partials/Header') %> 
    <div class="container-fluid">
    <div class="main-container-formulario-productos container">

        <section class="formulario-productos-container row">

            <article class="col-10 categoria-container">
                
        <form action="" method="POST" class="row" id="form-categoria" enctype="multipart/form-data">
            <div> 
                   <h3 class="col-12 titulo-articulo">Seleccione la categoría del producto</h3>
                  
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="1">Baño</p>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="2">Cocina</p>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="3">Decoración</p>
                   <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="4">Otros</p>
            </div>   
                

            </article>

            <article class="col-10 datos-container">
                <h3 class="titulo-articulo">
                    Ingrese los datos del producto
                </h3>

                <div class="datos-productos-container">
                    <div>                  
                        
                        <div class="col-6 row "> 
                            <label class="col-12" for="">Nombre</label>
                            <input class="inputStyle col-11" type="text" id="nombreProducto" placeholder="Nombre..." name="nombre">
                        </div>    
                        <div class="col-3 col-lg-5 row "> 
                            <label class="col-12" for="">Precio</label>
                            <input class="inputStyle col-11" type="text" id="" placeholder="$Precio..." name="precio">
                        </div>
                        <div class="col-5 col-lg-5 row "> 
                            <label class="col-12" for="">Stock</label>
                            <input class="inputStyle col-11" type="text" id="stock" placeholder="Stock..." name="stock">
                        </div>    
                        <div class="col-5  col-lg-5 row "> 
                            <label class="col-12" for="">Descuento</label>
                            <input class="inputStyle col-11" type="text" id="" placeholder="Descuento %..." name="descuento">
                        </div>                          
                        <div class="col-10 row">
                            <label class="col-12" for="">Descripción</label>
                            <textarea class="inputStyle col-11" name="descripcion" id="descripcionProducto" cols="30" rows="5" placeholder="Descripción"></textarea>
                        </div>
                        
                        <div class="col-12">
                            <!--name="colores" id="colores"-->
                            <div class="row">
                                <label class="col-12" for="colores" id="colores">Colores</label>
                                <div class="col-5 col-sm-3 formColorDiv">
                                    <input type="checkbox" id="color-amarillo" name="color" value="1">                                              
                                    <label for="color-amarillo">Amarillo</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">
                                    <input type="checkbox" id="color-azul" name="color" value="2" >
                                    <label for="color-azul">Azul</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">                                    
                                    <input type="checkbox" id="color-blanco" name="color" value="3" >
                                    <label for="color-blanco">Blanco</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">            
                                    <input type="checkbox" id="color-marron" name="color" value="4" >                            
                                    <label for="color-marron">Marron</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">                    
                                    <input type="checkbox" id="color-negro" name="color" value="5" >                      
                                    <label for="color-negro">Negro</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">                    
                                    <input type="checkbox" id="color-rojo" name="color" value="6" >                                
                                    <label for="color-rojo">Rojo</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">                            
                                    <input type="checkbox" id="color-rosa" name="color" value="7" >                             
                                    <label for="color-rosa">Rosa</label>
                                </div>
                                <div class="col-5 col-sm-3 formColorDiv">
                                    <input type="checkbox" id="color-verde" name="color" value="8" >
                                    <label for="color-verde">Verde</label>
                                </div>
                                <div class="col-5 col-sm-3  formColorDiv">                                    
                                    <input type="checkbox" id="color-otro" name="color" value="9" >                                       
                                    <label for="color-otro">Otro</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 sustentabilidad row">                            
                            <p class="col-5 col-lg-3"><input class="inputStyle"  type="checkbox" name="sustentabilidad" value=1>Cruelty Free</p>
                            <p class="col-5 col-lg-3"><input class="inputStyle"  type="checkbox" name="sustentabilidad" value=2>Envoltorio Sustentable</p>
                            <p class="col-5 col-lg-3"><input class="inputStyle"  type="checkbox" name="sustentabilidad" value=3>Fair Trade</p>
                            <p class="col-5 col-lg-3"><input class="inputStyle" type="checkbox" name="sustentabilidad" value=4>Vegano</p>
                            
                        </div>

                        <div class="col-12 row">
                            <label class="col-12" for="">
                                <h4 class="titulo-imagenes">Añadir imágenes</h4>
                            </label>

                            <input class=" col-10 col-lg-3" type="file" name="imagen">
                            <input class=" col-10 col-lg-3" type="file" name="imagen">
                            <input class=" col-10 col-lg-3" type="file" name="imagen">

                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <button id="btnSubmit" class="botonStyle col-8" type="submit" > Publicar producto</button>
                        </div>
                    </div>
        </form>
                </div>
            </article>

        </section>
         
    </div>
    <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %> 

</body>
</html>