<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Head') %> 
<body>
    <%- include('./partials/Header') %> 
    <div class="container">
        <div class="login-container row">
            <div class="formulario-registro-container col-10 col-lg-8 d-inline-flex justify-content-center">
                <form action="" class="row d-inline-flex justify-content-center">
                    <h3 class="col-12">Iniciar Sesión</h3>
                   
                    <div class="col-8 col-lg-102">
                        <label for="">Email</label>
                        <br>
                        <input class="inputStyle" type="email" name="" id="">
                    </div>
                    <div class="col-8 col-lg-10">
                        <label for="">Contraseña</label>
                        <br>
                        <input class="inputStyle" type="password">
                    </div>
                    <div class="col-8 col-lg-10  ">
                           <p class="recordar"><input type="checkbox" name="" id="">Recordame</p>
                            
                    </div>
                    <div class="col-12">
                        <button class="botonStyle">OK</button>
                    </div>
                </form>
            </div>
        </div>
        


    </div>
    <%- include('./partials/scripts') %> 
</body>
</html>