<!DOCTYPE html>
<html lang="en">

<%- include('./partials/Head') %>
<link rel="stylesheet" href="/css/styleSheetGuido.css">

<body>

    <%- include('./partials/Header') %>
    <div class="container-fluid">
        <div class="container">
            <!--MODO DE PAGO-->
            <div class="modoDePago row">
                <h3>Seleccione una forma de pago</h3>
                <div class="botonesDePago col-12">
                    <button type="button" class="col-3 col-lg-2 botonStyle"><i class="fab fa-cc-visa fa-2x"></i></button>
                    <button type="button" class="col-3 col-lg-2 botonStyle"><i class="fab fa-cc-mastercard fa-2x"></i></button>
                    <button type="button" class="col-3 col-lg-2 botonStyle"><i class="fab fa-cc-amex fa-2x"></i></i></button>
                    <button type="button" class="col-3 col-lg-2 botonStyle"><i class="fas fa-handshake fa-2x"></i></button>
                </div>
    
                <form class="formulario-editar-cuenta  row" action="" id="content">
    
                    <div class="col-7 col-sm-7 form-div row"  nombre>
                        <label class="etiqueta col-12" id=""  for="">DNI</label>
                        <input class="campo col-10" type="text" name="dni" id="dni" placeholder="DNI">
                       
                    </div>
    
                    <div class="col-8 col-sm-8 form-div row">
                        <label class="etiqueta col-12" for="">Numero de tarjeta</label>
                        <input class="campo col-10" type="text" name="nroTarjeta" id="nroTarjeta" placeholder="Numero de tarjeta"> 
                    </div>
    
                    <div class="col-4 col-sm-4 form-div row">
                        <label class="etiqueta col-12" for="" >Codigo</label>
                        <input class="campo col-10" type="text" name="codSeguridad" id="codSeguridad" placeholder="Codigo de Seguridad">
                    </div>
    
    
                    <div class="col-8 col-sm-8 form-div row">
                        <label class="etiqueta col-12" for="">Nombre del titular</label>
                        <input class="campo col-10" type="text" name="nombreTitular" id="nombreTitular" placeholder="Nombre del Titular" >
                    </div>
                    
                    <div class="col-7 col-sm-7 form-div row">
                        <label class="etiqueta col-12" for="">Fecha de nacimiento</label>
                        <input class="campo col-10" type="text" name="f-Nacimiento" id="f-Nacimiento" placeholder="Fecha de Nacimiento">
                    </div>
    
                    <div class="btnDiv col-12">
                        <button type="button" class="botonStyle continuar"><a href="finalizarCompra">Confirmar</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %> 
</body>
</html>