<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Head') %> 
<body>
    <%- include('./partials/Header') %> 
    <div class="container">
        <div class="registro-container row">
            <div class="formulario-registro-container col-10 col-lg-5 d-inline-flex justify-content-center">
                <form action="" class="row d-inline-flex justify-content-center">
                    <h3 class="col-12">Registrate</h3>
                    <div class="col-8 col-lg-10">
                        <label for="">Nombre</label>
                        <br>
                        <input class="inputStyle" type="text" name="" id="">
                    </div>

                    <div class="col-8 col-lg-10">
                        <label for="">Apellido</label>
                        <br>
                        <input class="inputStyle" type="text">
                    </div>
                    <div class="col-8 col-lg-102">
                        <label for="">Email</label>
                        <br>
                        <input class="inputStyle" type="email" name="" id="">
                    </div>
                    <div class="col-8 col-lg-10">
                        <label for="">Contraseña</label>
                        <br>
                        <input class="inputStyle" type="password">
                    </div>
                    <div class="col-12">
                        <button class="botonStyle">Crear Cuenta</button>
                    </div>
                </form>
            </div>
        </div>
        

        <%- include('./partials/footer') %> 
    </div>
    <%- include('./partials/scripts') %> 
</body>
</html>