/* =================================
            -.FOOTER.-
================================= */


.footer-container {
/*    height: fit-content;
    box-sizing: border-box;*/
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: rgba(167, 176, 184, 0.753);
}

.nosotros-container {
    padding: 0;
    margin: 0 auto;
}

.nosotros-container p {
    text-align: center;
    margin-left: 15px;
}

footer div div h4{
    height: 20px;
    font-size: 13px;
}

.wrappericon-redes {
    text-align: center;
}

.redes-container a{
    margin-left: 20px;
    padding: 0;
}

.contacto-container {
    font-size: 1.8em;
    padding-bottom: 5px;
}

footer div div a, footer div div a{
    text-decoration: none;
    color: black;
    font-size: small;
}

footer div div a:hover, footer div div a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
}

#whatsappIcon {
    color: black;
    margin-right: 4px;
    border-radius: 5px;
}

#whatsappIcon:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
}
