.carrito{
    width: 100%;
    border: black 3px solid;
}

.carrito .infoPrincipalDelProducto{
    display: flex;
    flex-wrap: wrap;
}

.carrito .infoPrincipalDelProducto img{
    width: 40%;
}

.carrito .infoPrincipalDelProducto p{
    padding-top: 10px;
    padding-right: 5px;
    height: 30px;
}

.dataContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.carrito .infoPrincipalDelProducto .dataContainer button{
    border-radius: 50px;
    width: 100%;
    height: 30px;
}