body{
    background-color: #dddbd1;
}

.registrodeUsuario{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.carrito{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.formularioDeInformacion input{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.formularioDeInformacion{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: space-between;
}

.modoDePago{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}





/*=========CLASES GENERICAS===========*/
.botonStyle{
    border-radius: 10px;
    margin-bottom: 5px;
}
.inputStyle{
    border-radius: 10px;
    margin-bottom: 5px;
}
/*
.botonContinuar{
    border-radius: 50px;
    margin-bottom: 5px;
}

.botonContinuar a{
    text-decoration: none;
    color: black;
}

.modoDePago .botonesDePago{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}
.modoDePago .botonesDePago button{
    width: 20%;
}

.modoDePago .tarjetaForm{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: space-between;
}

.modoDePago .tarjetaForm input{
    border-radius: 50px;
    margin-bottom: 8px;
}*/
