@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    list-style-type: none;
}


html {
    font-size: 15px;
}

.container-fluid {
    margin: 0 auto;
    background-color: #dddbd1;
    border: 2px solid  #dddbd1;
}



.busquedaContainer{
    background-color: #dddbd1;
    border: 2px solid  #dddbd1;
}

h1 {
    text-align: center;
    color: black;
}


header {
    background-image: url("/images/productos/Header6.jpg");
    background-size: cover;
    padding: 15px 0px;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .container a.logo img {
    height: 100px;
}

.logoContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logoContainer h1{
    text-align: center;
}

header .container form {
    width: 60%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    background-color: white;
    padding: 0 9px;
}

header .container form input {
    border: none;
    background: none;
    width: 100%;
}

header .container form input:focus {
    outline-color: red;
}

header .container form button {
    border: none;
    background: none;
    margin: 8px 0;
    border-left: 1px solid #ebebeb;
    color: #666;
}

header .container p.cuotas {
    width: 100%;
    text-align: center;
    margin: 14px 0;
}

header .container p.cuotas i {
    padding: 0;
}

header .container nav {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}

header .container nav button.burger {
    border: 2px solid black;
    padding: 5px 10px;
    background: transparent;
    color: black;
    z-index: 1;
}

header .container nav ul.menu-productos, header .container nav ul.menu-usuarios {
    display: none;
}

header .container nav ul li a {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.1s ease-in-out;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    border-bottom: solid 1px var(--gray);
}
header .container nav ul li a:hover {
    color: rgba(0, 0, 0, 1);
}

header nav button.burger {
    z-index: 1  ;
}

nav div ul li a {
    font-weight: 700;
}


/*========Main Search==========*/

header div.container-main-search {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

header div.main-search {
    width: 45%;
    display: flex;
    position: absolute;
    top: 165px;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 10px;
}

header div.main-search form {
    
}

header div.main-search form input {
    border: none;
}

header div.main-search form button {
    border: none;
}

.toLeft{
    margin-left: auto;
}

.toRight{
    margin-right: auto;
}

.cuentaCollapseAbs{
    position: none;
}

.card{
    background-color: transparent;
}

.seguirComprando{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}



/*========BANNER==========*/

#carouselIndicators {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

#carouselIndicators div.carousel-item img {
    width: 100%;
    max-height: 300px;
}


/*========Section ProductsList (HOME)==========*/

section div.productsList {
    padding-top: 15px;
}

section div.productsList article {
    background-color: rgba(255, 255, 255, 0.37);
}

section div.productsList article div {
    margin-left: 10px;
}

section div.productsList h2 {
    margin-bottom: 15px;
}


h3.product-price:before {
    content: "$ ";
}

section div.productsList article div h4.product-discount {
    color:#39b54a
}

section div.productsList article div h4.product-discount:hover {
    color:black;
    font-size: x-large;
}

section div.productsList article div h4.product-discount:after {
    content: "% OFF";
}




/*========EDITAR CUENTA==========*/


.container-edit {
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    display: flex;
    flex-wrap: wrap;
}


.container-saludo, .form-article {
    background-color: #dddbd1;
    border: 2px solid  #dddbd1;
    width: 65%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    margin-bottom: 25px;
}

.form-article{
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
}



/*SALUDO--------------------------*/

.container-saludo {
   margin-top: 15px; 
}

.saludo {
    text-align: center;
    color: black;
    text-decoration: none;
}

/*INFO USUARIO--------------------------*/

.info-usuario{
    margin-top: 12px;
}

/*FORMULARIO----------------------*/

.formulario-editar-cuenta {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.etiqueta{
    font-size: 12px;
    margin-top: 5px;
}



.campo {
    height: 20px;
}



.boton-editar {
    display: block;
    margin-top: 5%;
    margin-left: 60%;
    background-color: #e0d1c6;
    border-radius: 10px;
    border-style: solid;
    border-color: #baaa9e;
    transition: transform .7s ease;
}

.boton-editar:hover, .boton-guardar:hover{
    background: #ffebdd;
    transform: scale(1.1);
}

.boton-guardar {
    margin-top: 5%;
    margin-bottom: 10px;
    background-color: #e0d1c6;
    border-radius: 10px;
    border-style: solid;
    border-color: #baaa9e;
    transition: transform .7s ease;
    font-size: 13px;
}


.boton-editar:focus, .boton-guardar:focus{
    background: #ffebdd;
    text-decoration: none;
    outline: none;
    border: 2px solid rgb(189, 138, 138);
}


@media(max-width: 400px){
    .container-saludo, .form-article{
        width: 80%;
    }
}

/*=============SECCION DE CARRITO==================*/
.btnDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 25px;
}


.botonStyle a{
    text-decoration: none;
    color: black;
}


/*=======CARRITO===========*/

.carrito{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    margin: 1px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.carrito .infoPrincipalDelProducto{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 auto;
}

.carrito .infoPrincipalDelProducto p{
    padding-top: 10px;
    padding-right: 5px;
    height: 30px;
}

.carrito .infoPrincipalDelProducto .deleteButton{
    text-align: right;
}

.dataContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carrito .infoPrincipalDelProducto .dataContainer button{
    
    margin-bottom: 10px;
}

button.colorBoton{
    background-color: #e0d1c6;
    border-color: #baaa9e;
}

button.continuar{
    background-color:#c9d6a3;
    border-color: #7fa08c;
}

.cupon{
    margin-top: 5px;
    margin: 5px auto;
    padding: 0 auto;
    /*margin-left: 7%;*/
    justify-content: space-between;
}

.separacion div{
    border-bottom: black 1px solid;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*=======INFORMACION===========*/
.registrodeUsuario{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    margin: 1px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.registrodeUsuario h2{
    text-align: center;
}

.formularioDeInformacion{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: space-between;
}

/*.formularioDeInformacion input{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}*/

/*==========MODO DE PAGO=============*/

.modoDePago{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    margin: 1px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modoDePago .botonesDePago{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}
.modoDePago .botonesDePago button{
    width: 20%;
}

.modoDePago .tarjetaForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 auto;
    /*justify-content: space-between;*/
    /*agregar un margin*/
}

.modoDePago .tarjetaForm input{
    
    margin-bottom: 8px;
}


/*==============VISTA DE COMPRAS===================*/
.busquedaContainer{
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.collapseFiltros{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.filtrosPC{
    width: 0;
    height: 0;
    
    margin: 1px;
    margin-left: 15px;
    padding-left: 5px;
    visibility: collapse;
}

.filtrosPC .botonDeFiltrar{
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtrosPC .tituloFiltro{
    margin-bottom: 0px;
    margin-top: 3px;
    font-weight: 700;
}

.filtrosPC .checkboxFilter{
    margin-bottom: 0px;
    margin-left: 10px;
}

input.minMax{
    border-radius: 10px;
    margin-left: 10px;
}

.productosDeBusqueda{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    border-radius: 10px;
    width: 100%;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.productosDeBusqueda .producto{
    margin-bottom: 10px;
}

.productosDeBusqueda .producto:after{
    content:"";
    position: absolute;
    left: 170px;
    height: 100px;
    border-right: 1px solid #b1b1b1;

}

.busqueda{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
}

.checkboxFilter{
    margin-bottom: 0px;
    margin-left: 20px;
}


/*===================MIS COMPRAS===========================*/
.misCompras{
    background-color: #c4c1ba;
    border: 2px solid #c4c1ba;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.misCompras h4{
    margin-left: 15px;
}

.misCompras h6{
    margin-left: 15px;
}

.misCompras .productoComprado{
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*
=====================
FORMULARIO DE PRODUCTOS =====================
*/

::placeholder{
    font-size: 12px;
}

.titulo-articulo, .titulo-imagenes{
    text-align: center;
    margin-top: 20px;
}

/*
CONTAINER CATEGORIA =====================
*/

.categoria-container, .datos-container{
    background-color: #dddbd1;
    box-sizing: border-box;
}

.categoria-container{
    margin-bottom: 15px;
}

.formulario-productos-container{
    background-color: #c4c1ba;
}

/*
CONTAINER DATOS =====================
*/

.datos-container div form{
    box-sizing: border-box;
  
}

.datos-container div form div{
    margin: 10px;
    padding: 0;
    justify-content: space-evenly;
}

.datos-container div form div button{
    margin: 30px;
    background-color: #e0d1c6;
    border-style: solid;
    border-color: #baaa9e;
}

.datos-productos-container form div label{
   font-size: 12px;
   padding-top: 5px;
}

.datos-productos-container form div select{
    font-size: 12px;
}

.datos-productos-container form div input, textarea, select{
    margin: 9px;
}

/* .datos-productos-container form div textarea{
    margin-left: -11%;
} */

input[type='radio'], input[type='checkbox']{
    margin: 10px;
}

input[type='file'] {
    font-size: 12px;  
  }

input[type='file']:focus{
    outline: none;
    box-shadow: 0 0 12px 0px #0000008c, 0 0 5px #7e7f80cc;
  }

@media(min-width: 584px){
    .datos-productos-container form div p{
        font-size: 11px;
    }
}

@media(min-width: 992px){
    .datos-productos-container form{
        padding: 29px;
    }

    .formulario-productos-container{
        padding: 70px;
        padding-top: 20px;
        }

}
/*===============
LOGIN
==========================*/
@keyframes slide {
        0%   { transform: translate(0px,0px); }
        100% { transform: translate(0px,10px); }
      }
.formulario-registro-container form, .container-saludo, .form-article{
       animation-name: slide;
       animation-duration: 3s; 
       animation-fill-mode: forwards;   
}
.container-recordar{
    margin-bottom: 18px;
}

.recordar{
    font-size: 10px;
    height: 15px;
    margin: 0;
}

.boton-recordar{
    margin:0
}

.formulario-registro-container form div p {
    font-size: 12px;
}

.formulario-registro-container form div p a{
    text-decoration: none;
    color: #3d4627;
}

.formulario-registro-container form div p a:hover{
    text-decoration: none;
    color: #595e4ba4;
}


/*===============
REGISTRO
==========================*/

.registro-container{
    margin-top: 40px;  
    background-color: #aeb895;

}

.formulario-registro-container{
      background-color: #c9d6a3;
}

.formulario-registro-container form h3{
    text-align: center;
    margin: 15px;
}

.formulario-registro-container form div{
    text-align: center;
}

.formulario-registro-container form div button{
    margin: 30px;
    background-color: #b8c497e8;
    border: 1px solid #7e836f;
}


/*===============ESTILOS GENERICOS==========================*/

.botonStyle{
    border-radius: 10px;
    margin-bottom: 5px;
    transition: transform .7s ease-in-out;
}

.botonStyle:hover{
    transform: scale(1.1);
}

.botonStyle:focus{
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 12px 0px #0000008c, 0 0 5px #7e7f80cc;
}

.inputStyle{
    border:1px solid rgb(118, 118, 118);
    border-radius: 1px;
    margin-bottom: 5px;
}

.inputStyle:focus{
    outline: none;
    box-shadow: 0 0 12px 0px #0000008c, 0 0 5px #7e7f80cc;
}

/*========================MEDIA QUERIES=======================================*/
@media (min-width: 768px) {
    header .container form {
        width: 45%;
    }

    header .container p.cuotas {
        width: 25%;
        margin-top: 0;
        text-align: right;
    }

    header .container nav button.burger {
      display: none;  
    }
    header .container nav {
        justify-content: space-between;
    }
    header .container nav ul.menu-productos, header .container nav ul.menu-usuarios {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 0;
    }
    header .container nav ul li {
        margin-right: 10px;
    }
    header .container nav ul li:last-child {
        margin: 0;
    }

    .busquedaContainer{
        background-color: #dddbd1;
        border: 2px solid  #dddbd1;
        width: 80%;
    }
    .phoneFilter{
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .filtrosPC{
        width: 100%;
        height: 60%;
        
        margin: 1px;
        margin-left: 15px;
        padding-left: 5px;
        visibility: visible;
    }

    .productosDeBusqueda .producto:after{
        content:"";
        position: static;
        right: 0;
        height: 0;
        border-right: 0;
    }

    .toLeft{
        margin-left: -10px;
    }
    
    .toRight{
        margin-right: -10px;
    }
    
    .cuentaCollapseAbs{
        position: absolute;
        z-index: 5;
    }
    
    .card{
        background-color: #7fa08c;
    }
}


@media (max-width: 768px) {
   div.footer-container div {
       margin: 0;
       padding: 0;
       padding: 10px;
   } 
}



/*===============
FOOTER
==========================*/


/* footer div.footer-container div {
    aca iria barra divisora entre cada div del footer
}*/


a {
    text-decoration: none;
    color: black;
    font-size: small;
    /*falta clase*/
}

a:hover {
    text-decoration: none;
    color: black;
    /*falta clase*/
}

#whatsappIcon {
    color: black;
    margin-right: 4px;
    border-radius: 5px;
}

