.toLeft{
    margin-left: -10px;
}

.toRight{
    margin-right: -10px;
}

.seguirComprando{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}

.cuentaCollapseAbs{
    position: absolute;
}

.card{
    background-color: #7fa08c;
}
